body{

font-family:Arial;
background:#0f172a;
color:white;

display:flex;
justify-content:center;
align-items:center;

height:100vh;
margin:0;

}

.container{

width:700px;

background:#1e293b;

padding:30px;

border-radius:10px;

box-shadow:0 10px 30px rgba(0,0,0,0.5);

text-align:center;

}

h1{
margin-bottom:20px;
}

.search{

margin-bottom:20px;

}

input{

padding:10px;
width:200px;

border:none;
border-radius:5px;

}

button{

padding:10px 15px;

background:#00ff88;

border:none;

border-radius:5px;

cursor:pointer;

font-weight:bold;

}

button:hover{

background:#00cc6a;

}

#priceBox{

margin-top:20px;

font-size:18px;

}

canvas{

margin-top:30px;

}

#yearChange{

margin-top:20px;

font-size:20px;

color:#00ff88;

}